@import "~antd/dist/antd.css";

.App {
  text-align: center;
  background-color: #f6f6f6;
  height: 100vh;
  width: 100vw;
}
/* #42444d */
.pageTitle {
  color: rgb(65, 65, 65);
}

.pageSubtitle {
  color: #171716;
  font-weight: 400;
}

.route-button {
  padding: 5px 20px;
  margin: 5px;
}
